<div class="grafico">
    <div class="titulo">
        <h1> Bienvenidos!</h1>
        <h2>Este es mi proyecto desarrollado en Angular y usando Spring boot como Back End</h2>
        <h2>Es un proyecto que empezo para iniciar en el mundo del Full Stack</h2>
        <h2>Y por lo que mas puedo recomendar es que no tengo un toque artistico</h2>
    </div>
    <br>
    <br>
    <div>
        <h3> Aqui se pueden visualizar la cantidad de los productos</h3>
    </div>
    <div class="chartContainer">
        <canvas id="canvas-bar" width="50" height="50">
            {{ chartBar }}

        </canvas>
    </div>
</div>