.product-container{
    display: flex;
    flex-direction: column;
}

.product-container > * {
    width: 100%;
}

.input-file {
    display: none;
}

.subir {
    padding: 5px 16px;
    background: #69F0AE;
    color: #5a505099;
    text-emphasis-style: bold;
    border: 0px solid #706565;
}